@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
select.contact
{
    padding: 0px auto 0px auto;
}
.contact {
    position: relative;
    min-height: 100vh;
    padding: 0px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #CDFCF6;
}

.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-weight: 300;
    color: rgb(0, 0, 0);
}

.contact .content p {
    font-weight: 300;
    color: rgb(0, 0, 0);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    display: inline-block;
}

.container.contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contact-info .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contact-info .box .icon {
    min-width: 60px;
    height: 60px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.container .contact-info .box .text {
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    flex-direction: column;
    font-weight: 300;
}

.container .contact-info .box .text h3 {
    font-weight: 300;
    color: black;
}

.contact_form {
    width: 40%;
    padding: 40px;
    background: #fff;
    position: absolute;
    left: 689px;
    top: 190px;
}

.contact_form h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contact_form .input_box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact_form .input_box input,
.contact_form .input_box textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 3px solid #333;
    outline: none;
}

.contact_form .input_box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact_form .input_box input:focus~span,
.contact_form .input_box input:valid~span,
.contact_form .input_box textarea:focus~span,
.contact_form .input_box textarea:valid~span {
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-20px);
}

.contact_form .input_box input[type="submit"] {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

@media (max-width: 991px) 
{
    .contact 
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }

    .container .contactInfo,
    .contact_form
    {
        width: 100%;
    }
}